/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/* Tool Bar */
header{
  margin: 2%;
}
nav{
  background-color: #FFFFFF;
  width: 100%;
}
#logoToolBar{
  margin-left: 2%;
  width: 189.49px;
  height: 39px;
}
.collapse.navbar-collapse{
  margin-left: 5%;
  right: 0px;
}
.navbar-nav.mr-auto.nav-tabs{
  width: 100%;
}
.nav-item{
  margin-right: 3%;
}
.nav-item input{
  padding-top: 10px;
}
.nav-link{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

/* Video Slide Show */
#myCarousel{
  margin-bottom: 0%;
}

/* Univ Update List */
#Upd {
  background: #00A6B7;
  opacity: 90%;
  font-family: TheSans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0%;
  padding: 0%;
}
#Upd p{
  text-align: center;
}
.row.eventText{
  font-family: TheSans;
  font-style: normal;
  font-weight: bold;
}
.eventMonth{
  text-transform: uppercase;
  color: #00A6B7;
}
.eventName{
  text-transform: capitalize;
  color: #000000;
}
.eventDate{
  font-size: 36px;
  text-transform: uppercase;
  color: #00A6B7;
}
.eventTime{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #605F5F;
}

/* Mojors Degree */
.row.featurette{
  margin-top: 10px;
  margin-bottom: 10px;

}
.col-md-7.MDimg{
  padding-right: 0px;
  z-index: 1;
}
figure img{
  width: 100%;
  height: 100%;
  /*background-image: url('images/Rectangle 54.jpg');*/
}
figcaption{
  font-family: TheSans;
  font-style: normal;
  position: absolute;
  color: #FFFFFF;
  background: #00A6B7;
  opacity: 0.9;
  margin-top: -100px;
  padding-left: 30px;
}
#above10{
  font-weight: normal;
  font-size: 32px;
}
#MtoChoose{
  /* h2 */
  font-weight: bold;
  font-size: 24px;
}
.col-md-5.MDtext{
  background: #F5F6FA;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  width: 100%;
  z-index: 2;
  padding: 94px;
}
#MDtitle{
  /* H1 */
  font-family: TheSans;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  /* the main color */
  color: #00A6B7;
  margin-bottom: 10px;
}
#MDdes{
  /* body text */
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  /* body text color */
  color: #605F5F;
}
#MDbutton{
  /*text inside button*/
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  text-transform: capitalize;
  color: #00A6B7;
  padding-left: 2.5%;
  padding-right: 2.5%;
  /* button rec*/
  background: #FFFFFF;
  border: 2px solid #00A6B7;
}

/* Vision */
.col-md-7.order-md-1.MClogo img{
  width: 335px;
  height: 184.72px;
  padding-top: 25px;
}
#Group , #Vector {
  margin-bottom: 33px;
}
#Group {
  margin-left: -73px;
}
#Vector{
  margin-left: -18px;
}
/* Scholer ship */
.col-md-5.MDtext.Sc,
.col-md-5.MDtext.EL{
  padding: 50px;
}

/* Statistical Info */
#Sta{
  font-family: TheSans;
  font-style: normal;
}
#STNum{
  font-weight: normal;
  font-size: 32px;
  /* the main color */
  color: #00A6B7;
  width: 100%;
}
#StaName{
  font-weight: normal;
  font-size: 24px;
  /* body text color */
  color: #605F5F;
  width: 100%;
}
/* E-Learnign */
.row.featurette.E-lear,
.row.featurette.ScShip,
.row.featurette.Vision,
.row.featurette.StaInfo{
  margin-top: 5%;
  margin-bottom: 5%;
}
.col-md-7.MDimg img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Ibrary and Opportunities */
#LibCard{
  background: #00A6B7;
  color: #FFFFFF;
  font-family: TheSans;
  font-style: normal;
  padding: 50px;
  margin-top: -10%;
  margin-bottom: 5%;
  z-index: 2;
}
#LDL{
  /* h2 */
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
#LDLdesc{
  /* body text */
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
#OppCard{
  background: #000000;
  font-style: normal;
  color: #FFFFFF;
  padding: 50px;
  margin-top: -10%;
  margin-bottom: 5%;
  z-index: 2;
}
#OppStudents{
  font-family: TheSans;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
#Oppdes{
  /* body text */
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}

/* Applay Now */
.row.featurette.AppNow{
  margin-top: 5%;
  margin-bottom: 5%;
}
.col-md-5.MDtext.ANow{
  background: #FFFFFF;
  color: #000000;
  padding : 25px;
  margin-top: -25%;
  margin-left: 0%;
}
#Ph1{
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
#Ph2{
  max-width: 90%;
  max-height: 100%;
  margin-top: -25%;
  margin-left: 10%;
  z-index: 2;
}
