<div class="container1 paragraph--type--text-bg-option-6">
    <div class="row">
       <div class="col-md-6 col-sm-12 logo-item">
           <div class="col-md-7 logo-bg">
             <img class="logo-bg" src="/sites/default/files/2020-11/stamp.png" alt="stamp">
           </div>
       </div>
            <div class="col-md-6 col-sm-12 image-item">
                <div class="description-bg">{{ content.field_description_of_paragraph }}</div>
            </div>
    </div>
</div>