<div class="container1 text-bg-option-1">
    <div class="text-bg-option-1-inn">
        <div class="text-bg-option-1-title">{{ content.field_title_of_paragraph }}</div>
        <div class="text-bg-option-1-desp container">{{ content.field_description_of_paragraph }}</div>
    </div>
</div>