<div class="container1 paragraph--type--text-text-option-4">
    <div class="row">
            <div class="col-md-6 col-sm-12 text-item text-item-one">
                {{ content.field_title_of_paragraph }}
                {{ content.field_description_of_paragraph }}
            </div>
           <div class="col-md-6 col-sm-12 text-item text-item-two">
                {{ content.field_title_of_paragraph_2 }}    
                {{ content.field_description_of_paragraph_2 }}
           </div>            
    </div>
</div>