<div class="container1 paragraph--text-text-option-1">
    <div class="row box-w-b">
            <div class="col-md-6 col-sm-12 box-black">
                <div class="box-inn">
                   <div class="title-black"> {{ content.field_title_of_paragraph }}</div>
                   <div class="descp-black"> {{ content.field_description_of_paragraph }}</div>
               </div>
            </div>
            <div class="col-md-6 col-sm-12 box-white">
                <div class="box-inn">
                   <div class="title-white"> {{ content.field_title_of_paragraph_2 }}</div>
                   <div class="descp-white"> {{ content.field_description_of_paragraph_2 }}</div>
              </div>
            </div>
    </div>
</div>