<div class="container1 paragraph--text-text-option-5 ">
    <div class="row txt-txt-5-item">
        
        <div class="col-md-7 col-sm-12 txt-txt-black-item txt-txt-5-item">
            {{ content.field_description_of_paragraph }}
        </div>
        
         
        <div class="col-md-5 col-sm-12 txt-txt-white-item txt-txt-5-item">
            {{ content.field_description_of_paragraph_2 }}
        </div>
    </div>    
</div>