<div class="container1 paragraph--type--text-text-option-3">
    <div class="col-md-12 light-box-title">
        {{ content.field_title_of_paragraph }}        
    </div>        
    <div class="row">
        <div class="col-md-12 light-items">        
                <div class="col-md-6 col-sm-12 light-content">
                    {{ content.field_description_of_paragraph }}
                </div>
               <div class="col-md-6 col-sm-12 light-content">
                    {{ content.field_description_of_paragraph_2 }}
               </div>            
        </div>
    </div>    
</div>