<div class="container1 paragraph--text-option-2">
    <div class="row">
            <div class="col-md-12">
                {{ content.field_title_of_paragraph }}
                {{ content.field_description_of_paragraph }}
            </div>
    </div>
</div>