<div class="container1 paragraph--text-text-option-6 ">
    
    <div class="col-md-6 col-sm-12 txt-txt-6-item">
        {{ content.field_title_of_paragraph }}
        {{ content.field_description_of_paragraph }}
    </div>
    
    
    <div class="col-md-6 col-sm-12 txt-txt-6-item">
        {{ content.field_title_of_paragraph_2 }}
        {{ content.field_description_of_paragraph_2 }}
    </div>
</div>