
<div class="container1 paragraph--text-bg-option-2">
    <div class="row para-withbg">

            
            <div class="col-md-8 col-sm-12 para-withbg-desp">
                <div class="para-withbg-inn">
                   <div class="title-para"> {{ content.field_title_of_paragraph }}</div>
                   <div class="descp-para"> {{ content.field_description_of_paragraph }}</div>
               </div>
            </div>
            
            <div class="col-md-4 col-sm-12 para-withbg-image">
                <div class="para-withbg-inn">
                   <div class="img-para"><img class="logo-bg" src="/sites/default/files/2020-11/stamp.png" alt="stamp"></div>
              </div>
            </div>            

    </div>
</div>