<div class="container paragraph--type--text-bg-option-5">
    <div class="row">
            <div class="col-md-6 col-sm-12 image-item">
                <h2 class="title-bg">{{ content.field_title_of_paragraph }}</h2>
                <div class="description-bg">{{ content.field_description_of_paragraph }}</div>
            </div>
           <div class="col-md-6 col-sm-12 logo-item">
               <div class="col-md-7 logo-bg">
                 <img class="logo-bg" src="/sites/default/files/2020-11/logo-1.png" alt="logo-1">
               </div>
           </div>            
    </div>
</div>